{% set foreman_discovered_interfaces = salt['pillar.get']('foreman_interfaces', default=[{'ip':"127.0.0.1"}])|map(attribute='ip')|list %}
{% set interfaces = salt['pillar.get']('mongodb:settings:interfaces', default=foreman_discovered_interfaces) %}
{% set port = salt['pillar.get']('mongodb:settings:port', default=27017) %}

{% set mongodb = salt['grains.filter_by']({
    'default': {
        'name': 'mongo',
        'image': 'mongo:latest',
        'container_port': 27017,
        'bind_addresses': interfaces,
        'bind_port': port,
        'prerequisites': ['python-pip'],
        'pip_packages': ['docker-py']
    },
}, merge=salt['pillar.get']('mongodb:docker')) %}
