{% set mongodb = salt['grains.filter_by']({
    'Debian': {
        'repo_entries': [
          "deb http://repo.mongodb.org/apt/debian jessie/mongodb-org/3.6 main"
        ],
        'keyserver': "hkp://keyserver.ubuntu.com:80",
        'keyid': "2930ADAE8CAF5059EE73BB4B58712A2291FA4AD5",
        'pkg_name': "mongodb-org",
        'file': '/etc/apt/sources.list.d/mongodb-org-3.6.list',
        'service_name': "mongod",
    },
}, merge=salt['grains.filter_by']({
       'zesty': {
         'repo_entries': [
             "deb [ arch=amd64,arm64 ] http://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.6 multiverse"
         ],
       },
}, grain='oscodename', merge=salt['pillar.get']('mongodb:repo'))) %}
