{% import_yaml "erlang/defaults.yaml" as defaults %}

{% set erlang = salt['grains.filter_by']({
    'Debian': {
        'file': '/etc/apt/sources.list.d/erlang.list',
        'apt_preferences_file': '/etc/apt/preferences.d/erlang.pref',
        'apt_preferences': '|
            Package: *
            Pin: release o=Erlang Solutions Ltd.
            Pin-Priority: 999',
    },
    'Ubuntu': {

    },
}, merge=salt['grains.filter_by']({
    'sid': {
        'repo_entries': [
          "deb http://packages.erlang-solutions.com/debian stretch contrib"
        ],
    },
    'jessie': {
        'repo_entries': [
          "deb http://packages.erlang-solutions.com/debian jessie contrib"
        ],
    },
    'wheezy': {
        'repo_entries': [
           "deb http://packages.erlang-solutions.com/debian wheezy contrib"
        ],
    }
}, grain='oscodename', merge=salt['pillar.get']('erlang', default=defaults.erlang, merge=True))) %}
