{% import_yaml "defaults.yaml" as defaults %}

{% set os = salt['grains.get']('lsb_distrib_id') %}
{% set dist_codename = salt['grains.get']('lsb_distrib_codename') %}

{% set erlang = salt['grains.filter_by']({
    'Debian': {
        'file': '/etc/apt/sources.list.d/erlang.list',
        'repo_entries': ["deb http://packages.erlang-solutions.com/" + os.lower() +  " " + dist_codename + " contrib"],
        'apt_preferences_file': '/etc/apt/preferences.d/erlang.pref'
    },
}, merge=salt['grains.filter_by']({
    'sid': {
        'repo_entries': ["deb http://packages.erlang-solutions.com/" + os.lower() +  " stretch contrib"],
    }
}, grain='oscodename', merge=salt['pillar.get']('erlang', default=defaults.erlang, merge=True))) %}
