{% macro is_container() -%}
{{ is_lxc() or is_docker() }}
{%- endmacro %}

{% macro is_lxc() -%}
{{ salt['grains.get']("virtual") == "LXC" }}
{%- endmacro %}

{% macro is_docker() -%}
{{ salt['grains.get']("virtual_subtype") == "Docker" }}
{%- endmacro %}
