{% set keepass = salt['grains.filter_by']({
    'default': {
        'pkg_name': "keepassxc"
    }
}, merge=salt['grains.filter_by']({
      'stretch': {
        'url': "https://github.com/magkopian/keepassxc-debian/releases/download/2.3.1-1/keepassxc_2.3.1-1_amd64_stable_stretch.deb",
      },
  }, grain='oscodename', merge=salt['pillar.get']('keepass'))) %}
