{% import_yaml "keepass/defaults.yaml" as defaults %}

{% set keepass = salt['grains.filter_by']({
    'default': {
    }
}, merge=salt['grains.filter_by']({
      'stretch': {
      },
      'jessie': {
      },
  }, grain='oscodename', merge=salt['pillar.get']('keepass', default=defaults.keepass, merge=True))) %}
