{% from "_macros/dev_tool.macros.jinja" import redis_master_id with context %}
{% set foreman_discovered_interfaces = salt['pillar.get']('foreman_interfaces', default=[{'ip':"127.0.0.1"}])|map(attribute='ip')|list %}
{% set interface = salt['pillar.get']('redis:settings:interfaces', default=foreman_discovered_interfaces)|first %}
{% set ports = salt['pillar.get']('redis:settings:ports', default=[6379]) %}
{% set hostname = salt['grains.get']('host') %}
{% set total_slots = 16383 %}

{% set redis = salt['grains.filter_by']({
    'Debian': {
        'name': 'redis',
        'pkg_name': 'redis-server',
        'service': 'redis',
        'user': 'redis',
        'config': 'salt://redis/server/redis.conf',
        'init': 'salt://redis/server/redis.service',
        'init_location': '/lib/systemd/system/redis@.service',
        'master_bind_list': [{
          'hostname': hostname,
          'host': '127.0.0.1',
          'port': '6379',
        }],
        'slave_bind_list': [{
        {# fixme #}
          'master_id': redis_master_id('127.0.0.1', '6379'),
          'hostname': hostname,
          'host': '127.0.0.1',
          'port': '6380',
        }],
        'prerequisites': [],
        'pip_packages': []
    },
}, merge=salt['pillar.get']('redis')) %}

{% set redis_cluster = salt['grains.filter_by']({
    'default': {
      'total_slots': total_slots,
      'range': total_slots/(redis.master_bind_list|count),
    },
}, merge=salt['pillar.get']('redis_cluster')) %}
