{% macro redis_master_id(host, port) -%}
{{ salt['cmd.run']('redis-cli -h ' + host + ' -p ' + port|string + ' CLUSTER MYID') }}
{%- endmacro %}

{% macro redis_install(redis) -%}
redis:
  pkg.latest:
    - name: {{ redis.pkg_name }}
    - require:
      - pkg: os_packages
  file_ext.managed:
    - name: {{ redis.init_location }}
    - source: {{ redis.init }}
    - mode: {{ redis.mode }}
    - require:
      - pkg: {{ redis.pkg_name }}
{%- endmacro %}

{% macro redis_configure(redis, bind, cluster_enabled) -%}
{% set instance = redis.service + '-' + bind.port|string %}
{% set service = redis.service + '@' + instance %}

redis_config_{{ bind.host }}_{{ bind.port }}:
  file_ext.managed:
    - name: /etc/redis/{{ instance }}.conf
    - source: {{ redis.config }}
    - makedirs: True
    - template: jinja
    - context:
      bind:
        host: {{ bind.host }}
        port: {{ bind.port }}
      service_name: {{ redis.service }}
      cluster_enabled: {{ cluster_enabled }}
      install_type: {{ redis.install_type }}
    - require:
      - file_ext: {{ redis.init_location }}
{% if salt['grains.get']("init") != 'systemd' %}
{% set service = instance %}
  file.symlink:
    - name: /etc/init.d/{{ instance }}
    - target: {{ redis.init_location }}
    - require:
      - file_ext: /etc/redis/{{ instance }}.conf
    - require_in:
      - service: {{ service }}
{% endif %}
  service.running:
    - name: {{ service }}
{% if salt['grains.get']("virtual_subtype") != "Docker" %}
    - enable: True
{% endif %}
    - require:
      - file_ext: /etc/redis/{{ instance }}.conf
{%- endmacro %}

{% macro redis_docker_prerequisites(redis) -%}
redis_in_docker_prerequisites:
  pkg.latest:
    - name: redis_os_packages_prerequisites
    - pkgs: {{ redis.prerequisites }}
    - require:
      - pkg: os_packages
  pip.installed:
    - name: redis_pip_prerequisites
    - pkgs: {{ redis.pip_packages }}
    - reload_modules: True
    - require:
      - pkg: redis_os_packages_prerequisites
{%- endmacro %}

{% macro redis_docker(redis, bind, cluster_enabled) -%}
redis_config_{{ bind.host }}_{{ bind.port }}:
  file.managed:
    - name: /usr/local/share/redis/{{ bind.host }}_{{ bind.port }}/redis.conf
    - source: {{ redis.config }}
    - makedirs: True
    - template: jinja
    - context:
      bind:
        host: {{ bind.host }}
        port: {{ bind.port }}
      service_name: {{ redis.service }}
      cluster_enabled: {{ cluster_enabled }}
      install_type: {{ redis.install_type }}
    - require:
      - pip: redis_pip_prerequisites

redis_dockerfile_{{ bind.host }}_{{ bind.port }}:
  file.managed:
    - name: /usr/local/share/redis/{{ bind.host }}_{{ bind.port }}/Dockerfile
    - source: {{ redis.dockerfile }}
    - makedirs: True
    - require:
      - file: /usr/local/share/redis/{{ bind.host }}_{{ bind.port }}/redis.conf

redis_{{ bind.host }}_{{ bind.port }}:
  docker_image.present:
    - name: {{ redis.image }}_{{ bind.host }}_{{ bind.port }}
    - build: /usr/local/share/redis/{{ bind.host }}_{{ bind.port }}/
    - require:
      - file: /usr/local/share/redis/{{ bind.host }}_{{ bind.port }}/Dockerfile
  docker_container.running:
    - name: redis_{{ bind.host }}_{{ bind.port }}
    - image: {{ redis.image }}_{{ bind.host }}_{{ bind.port }}
{% if salt['grains.get']("virtual_subtype") == "Docker" %}
    - network_mode: host
{% else %}
    - port_bindings:
      - {{ bind.host|dns_check(4505) }}:{{ bind.port }}:{{ redis.container_port }}
{% endif %}
    - require:
      - file: /usr/local/share/redis/{{ bind.host }}_{{ bind.port }}/Dockerfile
      - docker_image: {{ redis.image }}_{{ bind.host }}_{{ bind.port }}
{%- endmacro %}
