{% set config = salt['grains.filter_by']({
  'default': {
    'source': 'salt://redis/server/redis.conf',
    'conf_file': '/etc/redis/redis.conf',
    'pid': '/var/run/redis/redis-server.pid',
    'dir': "/var/lib/redis",
    'init': 'salt://redis/server/redis.init',
    'init_location': "/etc/init.d/redis-server",
    'service': "redis-server",
    'mode': "755",
  }
}, merge=salt['grains.filter_by']({
    'systemd': {
      'init': "salt://redis/server/redis@.service",
      'init_location': "/lib/systemd/system/redis@.service",
      'service': "redis",
      'mode': "644",
    }
}, grain='init')) %}

{# host_id == hostname by default #}
{% set host_id = salt['grains.get']("id") %}

{% set instances = salt['grains.filter_by']({
  'Debian': {
    'masters': [{
                  'id': host_id,
                  'ip': '127.0.0.1',
                  'port': 6379,
                }],
    'slaves': [{
                 'id': host_id,
                 'of_master': {
                   'id': host_id,
                   'ip': '127.0.0.1',
                   'port': 6379
                 },
                 'ip': '127.0.0.1',
                 'port': 6380,
               }],
  },
}) %}

{% set redis = salt['grains.filter_by']({
  'RedHat': {
    'pkg_name': 'redis-server',
    'port': 6379,
    'config': config,
    'instances': instances,
  },
  'Debian': {
    'pkg_name': 'redis-server',
    'port': 6379,
    'config': config,
    'instances': instances,
  },
}, merge=salt['pillar.get']('redis')) %}
