{% set pkgs = salt['grains.filter_by']({
    'Debian': {
        'names': [
           "sudo",
           "apt-transport-https",
           "man",
           "rsync",
           "git",
           "curl",
           "ntp",
           "zsh"
        ],
    },
    'Windows': {
        'names': [
           "git"
        ],
    }
}, merge=salt['pillar.get']('pkgs')) %}
