{% set lxc = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ["lxc", "bridge-utils", "debootstrap", "ubuntu-archive-keyring"],
        'service': "lxc",
        'config': {
          'net_file': "/etc/default/lxc-net",
          'net_source': "salt://lxc/lxc-net",
          'sysctl_location': '/etc/sysctl.d/local.conf',
        },
        'containers': {

        }
    },
    'Windows': {
    }
}, merge=salt['grains.filter_by']({
      'yakkety': {
        'pkgs': ["lxc", "bridge-utils", "debootstrap"],
      },
      'artful': {
        'pkgs': ["lxc", "bridge-utils", "debootstrap"],
      }
}, grain='oscodename', merge=salt['pillar.get']('lxc', merge=True))) %}
