{% import_yaml "locale/defaults.yaml" as defaults %}

{% set locale = salt['grains.filter_by']({
    'Debian': {
        'required_pkgs': ["locales"],
    },
    'Windows': {
    }
}, merge=salt['grains.filter_by']({
      'jessie': {
          'required_pkgs': ["dbus"],
      },
 }, grain='oscodename', merge=salt['pillar.get']('locale', default=defaults.locale, merge=True))) %}
