{% set mongodb = salt['grains.filter_by']({
    'Debian': {
        'repo_entries': [
          "deb http://repo.mongodb.org/apt/debian jessie/mongodb-org/3.6 main"
        ],
        'keyserver': "hkp://keyserver.ubuntu.com:80",
        'keyid': "2930ADAE8CAF5059EE73BB4B58712A2291FA4AD5",
        'file': '/etc/apt/sources.list.d/mongodb-org-3.6.list',
        'pkg_name': "mongodb-org",
        'port': 27017,
        'user': "mongodb",
        'group': "mongodb",
        'config': {
          'source': "salt://mongodb/server/mongod.conf",
          'db_path': "/var/lib/mongodb",
          'log_path': "/var/log/mongodb",
          'pid_path': "/var/run/mongodb",
        }
    },
}, merge=salt['grains.filter_by']({
       'stretch': {
         'repo_entries': [
            "deb http://repo.mongodb.org/apt/debian jessie/mongodb-org/3.6 main",
            "deb http://ftp.debian.org/debian jessie-backports main"
         ]
       },
       'zesty': {
         'repo_entries': [
             "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.6 multiverse"
         ],
       },
       'xenial': {
          'repo_entries': [
             "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.6 multiverse"
          ],
       }
   }, grain='oscodename', merge=salt['grains.filter_by']({
        'default': {
          'init': 'salt://mongodb/server/mongod.init',
          'init_location': '/etc/init.d/mongod',
          'service': 'mongod',
          'mode': "755"
        },
        'systemd': {
          'init': 'salt://mongodb/server/mongod.service',
          'init_location': '/lib/systemd/system/mongod@.service',
          'service': 'mongod',
          'mode': "644",
        }
      }, grain='init', merge=salt['pillar.get']('mongodb')))) %}
