{% import_yaml "samba/defaults.yaml" as defaults %}

{% set samba = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ["libpam-mount", "samba"],
        'service_name': salt['grains.filter_by']({
            'lenny': 'samba',
            'squeeze': 'samba',
            'wheezy': 'samba',
            'jessie': 'smbd',
            'default': 'smbd',
        }, grain='oscodename'),
    },
    'Windows': {
    }
}, merge=salt['pillar.get']('samba', default=defaults.samba, merge=True)) %}
