{% set redis = salt['grains.filter_by']({
  'Debian': {
    'pkg_name': 'redis-server',
    'config': 'salt://redis/server/redis.conf',
    'dockerfile': 'salt://redis/server/Dockerfile',
    'ip': salt['mine.get'](tgt=salt['grains.get']("id"), fun='network.ip_addrs'),
    'port': salt['pillar.get']('redis:port', default="6379"),
    'container_port': 6379,
    'install_type': "docker",
    'image': 'redis-cluster',
    'prerequisites': ["python-pip", "redis-tools"],
    'pip_packages': ["docker-py"],
    'pidfile_dir': '/var/run/redis/',
    'run_dir': '/var/lib/redis/',
  },
}, merge=salt['grains.filter_by']({
    'default': {
      'init': 'salt://redis/server/redis.init',
      'init_location': '/etc/init.d/redis-server',
      'service': 'redis-server',
      'mode': "755",
    },
    'systemd': {
      'init': 'salt://redis/server/redis.service',
      'init_location': '/lib/systemd/system/redis@.service',
      'service': 'redis',
      'mode': "644",
    }
  }, grain='init', merge=salt['pillar.get']('redis'))) %}
