{% set foreman_discovered_interfaces = salt['pillar.get']('foreman_interfaces', default=[{'ip':"127.0.0.1"}])|map(attribute='ip')|list %}
{% set interface = salt['pillar.get']('redis:settings:interfaces', default=foreman_discovered_interfaces)|first %}
{% set port = salt['pillar.get']('redis:settings:port', default="6379") %}

{% set redis = salt['grains.filter_by']({
  'Debian': {
    'pkg_name': 'redis-server',
    'user': 'redis',
    'config': 'salt://redis/server/redis.conf',
    'host': interface,
    'port': port,
    'prerequisites': [],
    'pip_packages': []
  },
}, merge=salt['grains.filter_by']({
    'default': {
      'init': 'salt://redis/server/redis.upstart',
      'init_location': '/etc/init.d/redis-server',
      'service': 'redis-server',
    },
    'systemd': {
      'init': 'salt://redis/server/redis.service',
      'init_location': '/lib/systemd/system/redis@.service',
      'service': 'redis',
    }
  }, grain='init', merge=salt['pillar.get']('redis'))) %}
