{% set os = salt['grains.get']('lsb_distrib_id') %}
{% set dist_codename = salt['grains.get']('lsb_distrib_codename') %}

{% set dropbox = salt['grains.filter_by']({
    'RedHat': {
        'baseurl': "http://linux.dropbox.com/fedora/\$releasever/",
        'repo_id': "dropbox",
        'gpgkey': "http://linux.dropbox.com/fedora/rpm-public-key.asc",
        'pkg_name': "dropbox",
    },
    'Debian': {
        'repo_entries': ["deb http://linux.dropbox.com/" ~ os.lower() ~ " " ~ dist_codename ~ " main"],
        'file': '/etc/apt/sources.list.d/dropbox.list',
        'keyid': "1C61A2656FB57B7E4DE0F4C1FC918B335044912E",
        'keyserver': "pgp.mit.edu",
        'pkg_name': "dropbox",
    }
}, merge=salt['grains.filter_by']({
    'stretch': {
        'repo_entries': ["deb http://linux.dropbox.com/" ~ os.lower() ~ " sid main"],
    },
    'artful': {
        'repo_entries': ["deb http://linux.dropbox.com/" ~ os.lower() ~ " xenial main"],
    },
    'bionic': {
        'repo_entries': ["deb http://linux.dropbox.com/" ~ os.lower() ~ " xenial main"],
    }
}, grain='oscodename', merge=salt['pillar.get']('dropbox'))) %}
