{% import_yaml "spotify/defaults.yaml" as defaults %}

{% set spotify = salt['grains.filter_by']({
    'default': {
        'repo_entries': [
            "deb http://repository.spotify.com stable non-free"
        ],
        'file': '/etc/apt/sources.list.d/spotify.list',
        'required_pkgs_urls': {}
    },
}, merge=salt['grains.filter_by']({
    'sid': {
        'repo_entries': [
            "deb http://repository.spotify.com testing non-free"
        ],
        'required_pkgs_urls': {
          "libssl1.0.0": "http://ftp.de.debian.org/debian/pool/main/o/openssl/libssl1.0.0_1.0.1t-1+deb8u6_amd64.deb"
        }
    },
    'stretch': {
        'repo_entries': [
            "deb http://repository.spotify.com testing non-free"
        ],
        'required_pkgs_urls': {
          "libssl1.0.0": "http://ftp.de.debian.org/debian/pool/main/o/openssl/libssl1.0.0_1.0.1t-1+deb8u6_amd64.deb"
        }
    }
}, grain='oscodename', merge=salt['pillar.get']('spotify', default=defaults.spotify, merge=True))) %}
