{% set spotify = salt['grains.filter_by']({
    'default': {
        'repo_entries': [
            "deb http://repository.spotify.com stable non-free"
        ],
        'file': '/etc/apt/sources.list.d/spotify.list',
        'required_pkgs_urls': {},
        'pkg_name': "spotify-client",
        'keyserver': "hkp://keyserver.ubuntu.com:80",
        'keyid': "0DF731E45CE24F27EEEB1450EFDC8610341D9410",
    },
}, merge=salt['grains.filter_by']({
    'sid': {
        'repo_entries': [
            "deb http://repository.spotify.com testing non-free"
        ],
    },
    'stretch': {
        'repo_entries': [
            "deb http://repository.spotify.com testing non-free"
        ],
    }
}, grain='oscodename', merge=salt['pillar.get']('spotify'))) %}
