{% from "mongodb/server/single/map.jinja" import mongodb as mongodb_single with context %}

{% set mongodb = salt['grains.filter_by']({
    'Debian': {
        'masters': [{
          'host_id': host_id,
          'host': '127.0.0.1',
          'port': 27017,
          'replica_name': ""
        }],
        'slaves': [{
          'master_host': '127.0.0.1',
          'master_port': 6379,
          'host_id': host_id,
          'host': '127.0.0.1',
          'port': 28017,
        }],
    },
}, merge=salt['pillar.get']('mongodb')) %}

{% do mongodb.update(mongodb_single) %}
