{% from "mongodb/server/single/map.jinja" import mongodb as mongodb_single with context %}

{% set host_id = salt['grains.get']('id') %}

{% set mongodb = salt['grains.filter_by']({
    'Debian': {
        'shards': [{
          'host_id': host_id,
          'host': '127.0.0.1',
          'port': 27017,
        }],
        'replicas': [{
          'master': True,
          'replica_name': "",
          'host_id': host_id,
          'host': '127.0.0.1',
          'port': 28017,
        }],
    },
}, merge=salt['pillar.get']('mongodb')) %}

{% do mongodb.update(mongodb_single) %}
